[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
flask = "*"
python-dotenv = "*"
pep8 = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
passlib = "*"
flask-jwt-extended = "*"
flask-restful = "*"
requests = "*"

[requires]
python_version = "3.6"
